


.products-contain{
    min-width: 1080px;
    height: 650px;
    padding-top: 10px;
}
#list{
    width: 1080px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
#list span{
    display: inline-block;
    width: 102px;
    height: 30px;
    padding-left: 18px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.products-contain ul{
    width: 1020px;
    height: 81%;
    margin: 13px auto;
    background: #fff;
    text-align: center;
}

.products-contain li{
    list-style: none;
    float: left;
    margin: 7px;
}
.products-contain img{
    width: 240px;
    height: 240px;
}
#page-column{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    /*margin-top: 15px;*/
}
#prev,#next,.page_num{
    display: inline-block;
    width: 70px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
}  

#prev,#next:hover{
    background-color: #eee;

}