.products-contain{
    min-width: 1400px;
    height: 680px;
    padding-top: 10px;
}
#list{
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
#list span{
    display: inline-block;
    width: 102px;
    height: 30px;
    padding-left: 18px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.products-contain table{
    width: 70%;
    height: 88%;
    margin: 0 auto;
    background: #fff;
}
.products-contain td{
    text-align: center;
}
.products-contain a{
    display: inline-block;
    width: 240px;
    height: 240px;
    background-color: #f66;
}
.products-contain img{
    width: 240px;
    height: 240px;
}
#page-column{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
#page-column span{
    margin:10px;
    cursor: pointer;
}