    @charset "utf-8";
html {
	font-weight:normal;
	position: relative;
	height: 100%;	
}

a {
	text-decoration: none;
}
img {
	border-style: none;
}
ul{list-style: none;}
/* 基础部分*/
body {
	position: relative;
	height: 100%;	
	padding: 0;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}

/*图片列表*/
.piclist{width: 1100px; margin: 0 auto;background-color: #fff;}
.listul{margin-left: 0;padding-left: 40px; overflow:hidden;height: 500px;}
.listul li{
    float: left;
    width: 240px;
    height: 240px;
    position: relative; 
    margin: 10px;
}
.listul img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.listul a{
    display: inline-block;
    width: 240px;
    height: 240px;
}
.listul li span{position: absolute;bottom: 30px;width: 240px;text-align: center;background: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); color: #fff;font-size: 15px;padding: 3px 0;}

/*分页样式*/
.fydiv{width: 320px;text-align: center;height: 30px;margin: 0 auto;margin-top: 30px;}
.fenye{text-align: center;height: 30px;margin: 0 auto;}
.fenye li{float: left;border:1px solid #6CBFB7;height: 26px;line-height: 26px;margin-right: 10px;}
.fenye li:hover{background-color: #f1f1f1;}
.fenye li a{text-decoration: none;color:#6CBFB7; display: block; }
.prev{width: 66px;}
.next{width: 66px;}
.numb{width: 26px;}
.choose{border:1px solid #357973!important;}
.choose a{color: #357973!important;}    



 /* .products-contain{
    min-width: 1400px;
    height: 680px;
    padding-top: 10px;
}
#list{
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}
#list span{
    display: inline-block;
    width: 102px;
    height: 30px;
    padding-left: 18px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}
.products-contain table{
    width: 70%;
    height: 88%;
    margin: 0 auto;
    background: #fff;
}
.products-contain td{
    text-align: center;
}
.products-contain a{
    display: inline-block;
    width: 240px;
    height: 240px;
    background-color: #f66;
}
.products-contain img{
    width: 240px;
    height: 240px;
}
#page-column{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
#page-column span{
    margin:10px;
    cursor: pointer;
}  */
